/* @import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
/* @import "tailwindcss"

@tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer base { */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Quantico", sans-serif; */
  }
  body{
    background: #080b14; ;
  }
  a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
  }
  .container{
    padding-left: 0;
    padding-right: 10%;
  }
  .btn{
    display: inline-block;
    background:#000;
    color: #fff;
    padding: 14px 20px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
  }
  html {
  scroll-behavior: smooth;
}
/* } */
/* @theme{
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-card: hsl(var(--card));
  --color-primary: hsl(var(--primary));
  --animate-float: float 3s ease-in-out infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-fade-in: fadeIn 0.5s ease-in forwards;
  --animate-fade-in-delay-1: fadeIn 0.5s ease-in forwards 0.3s;
  --animate-fade-in-delay-2: fadeIn 0.5s ease-in forwards 0.6s;
  --animate-fade-in-delay-3: fadeIn 0.5s ease-in forwards 0.9s;
  --animate-fade-in-delay-4: fadeIn 0.5s ease-in forwards 1.2s;
  --animate-meteor: meteor 5s linear infinite;
} */