.AboutMe {
    height: 50vh;
    width: 100%;
    color: white;
    display: flex;              /* Center content vertically and horizontally */
    justify-content: center;
    align-items: center;
    flex-direction: column;     /* Stack children vertically */
    padding-bottom: 20px;
    
}

.AboutMe p {
    font-size: 1.5rem;            /* Make paragraph text bigger */
    text-align: center;         /* Center text inside the paragraph */
    max-width: 800px;          /* Limit the width of the paragraph */
    align-items: left;
}
.aboutme-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
  .aboutme-title {
    font-size: 1.8rem;
  }

  .AboutMe p {
    font-size: 1rem;
    padding: 0 15px;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .aboutme-title {
    font-size: 2rem;
  }

  .AboutMe p {
    font-size: 1.2rem;
    max-width: 90%;
  }
}
