.AboutMe {
    height: 50vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    text-align: center;
}

.AboutMe p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    text-align: center;
    max-width: 90%;
}

.aboutme-title {
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    margin-bottom: 20px;
    text-align: center;
}
